/* Header */
header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: 0.5s ease;
}

.brand {
    color: var(--text-color);
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.brand span {
    color: var(--primary-color-1);
}

.header__menu-btn {
    font-size: 2em;
    color: var(--text-color);
    margin: 5px 10px;
    text-decoration: none;
    display: none;
}

.nav-header {
    position: relative;
}

.nav-header__item {
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

.nav-header__item::before {
    content: "";
    position: absolute;
    background: var(--text-color);
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.nav-header__item:hover:before {
    width: 100%;
}

/* Home */
#home {
    height: 100vh;
    background-color: var(--back-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home::before {
    z-index: 777;
    content: "";
    position: absolute;
    background-color: rgba(3, 96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__slider {
    
    position: absolute;
    width: 100%;
    /* clip-path: circle(0% at 0 50%); */
    clip-path: polygon(0% 0%, 0 0, 0 50%, 0 100%, 0% 100%);
}

.home__slider.active {
    /* clip-path: circle(150% at 0 50%); */
    clip-path: polygon(0% 0%, 100% 0%, 150% 50%, 100% 100%, 0% 100%);
    transition: clip-path 2s ease;
}

.home__content {
    z-index: 888;
    color: var(--text-color);
    position: relative;
    display: none;
}

.home__content.active {
    display: block;
}

.home__content h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 7rem;
}

.home__content p {
    margin-bottom: 42px;
    font-size: 1.6rem;
    text-align: justify;
}

.home__media-icons {
    z-index: 888;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home__media-icons a {
    font-size: 1.6em;
    color: var(--text-color);
    margin: 5px 5px;
    text-decoration: none;
    transition: 0.3s ease;
}

.home__media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home__media-icons a:hover {
    transform: scale(1.4);
}

.slide-nav {
    z-index: 888;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    bottom: 80px;
    margin: 0 auto;
}

.slide-nav__btn {
    width: 12px;
    height: 12px;
    background-color: var(--text-color);
    border-radius: 50%;
    box-shadow: rgba(245, 246, 235, 0.5);
    transition: 0.3s ease;
}

.slide-nav__btn:not(:last-child) {
    margin-right: 20px;
}

.slide-nav__btn:hover {
    transform: scale(1.2);
}

.slide-nav__btn.active {
    background-color: var(--primary-color);
}

/* About */
#about {
    height: 100vh;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    position: relative;
}

.about {
    background: var(--back-section-color);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    position: relative;
}

.about__header {
    position: absolute;
    top: -56px;
    left: 50%;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    transform: translateX(-50%);
    background: var(--back-color);
    padding: 20px 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.about__avata {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.about__avata-img {
    height: 200px;
    border-radius: 50%;
    animation: scaleImg 3s linear infinite;
}

@keyframes scaleImg{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.about__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__item {
    /* width: 100%; */
    color: var(--text-color);
    font-size: 2rem;
    transition: 0.2s ease;
    padding: 4px 0;
}

.about__item:hover {
    transform: translateY(-5px);
}

.about__item:not(:last-child) {
    margin-bottom: 30px;
}

.about__item-icon {
    display: inline-block;
    margin-right: 20px;
}

.about__item-text {
    font-weight: 700;
}

/* explore */
#explore {
    height: 100vh;
    background: var(--back-section-color);
    display: flex;
    align-items: center;
    position: relative;
}

.explore {
    /* width: 100%; */
    /* height: 50%;
    background-color: var(--text-color); */
    position: relative;
}

.explore__title-tour {
    height: 500px;
    background-color: var(--text-color);
    border-radius: 6px;
    position: relative;
}

.title-tour__header {
    margin: 0;
    padding: 20px 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    background: var(--back-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tour__list {
    margin: 0;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: calc(100% - 58px);
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.tour__item {
    height: 70px;
    background-color: var(--back-item);
    border-radius: 6px;
    transition: 0.3s ease;
}

.tour__item:hover {
    transform: scale(1.05);
}

.tour__item a {
    display: block;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
}

.explore__detail-tour {
    height: 500px;
    background-color: var(--text-color);
    border-radius: 6px;
}

/* gallery */
#gallery {
    height: 100vh;
    background: var(--text-color);
    display: flex;
    align-items: center;
    position: relative;
}

.gallery {
    height: calc(100vh - 100px);
    background: var(--back-section-color);
    border-radius: 6px;
}