@media (max-width: 739px) {
    .nav-header {
        display: none;
    }

    .home__media-icons {
        margin-top: 20px;
        flex-direction: row;
    }

    .home__media-icons a {
        font-size: 3rem;
        line-height: 3rem;
        padding: 5px 10px;
    }

    .home__media-icons a:not(:last-child) {
        margin-bottom: 0;
    }

    .home__content a {
        float: auto;
    }
}